{% extends "emails/base.html.twig" %}

{% block content %}
<p>Hi {{ firstName }},</p>
<p>Thanks for signing up for an account for the Stock Portfolio app. To activate your account please click the following button.</p>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
    <tbody>
    <tr>
        <td align="left">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <td> <a href="{{ activationLink }}" target="_blank">Activate account</a> </td>
            </tr>
            </tbody>
        </table>
        </td>
    </tr>
    </tbody>
</table>
<p>If you cannot click the link, copy and paste this in to your browser:</p>
<p>{{ activationLink }}</p>
<p>After activating your account you can use the service.</p>
{% endblock %}